*.swp
*~
qrc_*
*.moc
*.o
*.pdb
ui_*
moc_*
*.pyc
/Makefile
/conf.log
/conf.pri
/zurl
/src/libzurl/Makefile
/src/zurl/Makefile
/src/libzurl.a
/tests/Makefile
/tests/*test/Makefile
/tests/*test/*test
/tests/*test/target_wrapper.sh
.qmake.stash
