[General]
# instance routing id. keep blank for random. set for better error recovery
instance_id=

# bind PULL for initiating a request
in_spec=ipc:///tmp/zurl-in

# bind DEALER for continuing a request
in_stream_spec=ipc:///tmp/zurl-in-stream

# bind PUB for responding
out_spec=ipc:///tmp/zurl-out

# bind ROUTER for handling non-streamed requests/responses
in_req_spec=ipc:///tmp/zurl-req

# ipc permissions (octal)
#ipc_file_mode=777

# default policy, one of "allow" or "deny"
defpolicy=allow

# hosts to allow
allow=

# hosts to deny
#deny=127/8,10/8,172.16/12,192.168/16

# whether to allow ipv6
allow_ipv6=false

# worker count
max_open_requests=2000

# input buffer size per request
buffer_size=200000

# expiration time (in seconds) for inactive requests
timeout=600

# advanced
in_hwm=1000
out_hwm=1000
